In [1]:
# Importing required libraries
import pandas as pd
import numpy as np

In [2]:
# Loading data from csv
df = pd.read_csv('/Users/yuvrajbains/Desktop/Projects/Credit_Risk_Assessment/lending_data.csv')
df

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0
...,...,...,...,...,...,...,...,...
77531,19100.0,11.261,86600,0.653580,12,2,56600,1
77532,17700.0,10.662,80900,0.629172,11,2,50900,1
77533,17600.0,10.595,80300,0.626401,11,2,50300,1
77534,16300.0,10.068,75300,0.601594,10,2,45300,1
77535,15600.0,9.742,72300,0.585062,9,2,42300,1

In [4]:
# Test if there are missing values
missing = df.isnull().sum()
missing

loan_size           0
interest_rate       0
borrower_income     0
debt_to_income      0
num_of_accounts     0
derogatory_marks    0
total_debt          0
loan_status         0
dtype: int64

In [5]:
# Splitting data into features (independent variable) and label (deoendent variable)
features = df[['loan_size', 'interest_rate', 'borrower_income', 
               'debt_to_income', 'num_of_accounts', 'derogatory_marks'
               , 'total_debt']]
labels = df['loan_status']

In [6]:
# Scaling features zero mean and unit variance
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
features = scaler.fit_transform(features)

In [17]:
# Split data into training and testing sets
from sklearn.model_selection import train_test_split
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size=0.2)

In [18]:
# Build a logistic regression model for credit risk prediction
# Logistic Regression is best when the outcome is either yes or no
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [19]:
# Train the model on the training set
model.fit(train_features, train_labels)

# Predict labels for the testing set
predictions = model.predict(test_features)

# Evaluate the model's accuracy and confusion matrix
from sklearn.metrics import accuracy_score, confusion_matrix
accuracy = accuracy_score(test_labels, predictions)
conf_matrix = confusion_matrix(test_labels, predictions)
print('Accuracy:', accuracy)
print('Confusion Matrix:', conf_matrix)

Accuracy: 0.9938096466339954
Confusion Matrix: [[14921    89]
 [    7   491]]

In [44]:
# After building this model, I decided to test it with some user data

# Collecting user input dynamically
loan_size = float(input("Enter loan size: "))
interest_rate = float(input("Enter interest rate: "))
borrower_income = float(input("Enter borrower income: "))
debt_to_income = float(input("Enter debt-to-income ratio: "))
num_of_accounts = int(input("Enter number of accounts: "))
derogatory_marks = int(input("Enter number of derogatory marks: "))
total_debt = float(input("Enter total debt: "))

# Prepare input for prediction
input_data = np.array([[loan_size, interest_rate, borrower_income,
                        debt_to_income, num_of_accounts, derogatory_marks,
                        total_debt]])

# Scale input data
scaled_input = scaler.transform(input_data)

# Make a prediction
prediction = model.predict(scaled_input)

# Output the result
if prediction == 1:
    print("Prediction: Loan Approved")
else:
    print("Prediction: Loan Rejected")

Enter loan size: 5000
Enter interest rate: 8.9
Enter borrower income: 100000
Enter debt-to-income ratio: 0.25
Enter number of accounts: 3
Enter number of derogatory marks: 0
Enter total debt: 25000
Prediction: Loan Rejected

/Users/yuvrajbains/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(